<!DOCTYPE html>
<html lang="en">
  
  <head>
    <title>About Us</title>

      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/styles/reset.css" />
      <link rel="stylesheet" href="/public/styles/aboutUs.css"/>  

  </head>

  <body>
    
    <main>
   
      <div class="aboutUs">

        <div id="alex"><img src="/public/styles/img/alex.png" alt="alex"></div>
        <div id="paula"><img src="/public/styles/img/paula.png" alt="paula"></div>
        <div id="sara"><img src="/public/styles/img/sara.png" alt="sara"></div>
        <div id="trae"><img src="/public/styles/img/trae.png" alt="trae"></div>
        <div id="matt"><img src="/public/styles/img/matt.png" alt="matt"></div>


      </div>
      

      <%- include('../layout/footer') %>

   </main>
  </body>
</html>