<!DOCTYPE html>
<html lang="en">
  
  <head>
    <title>About Us</title>

      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/styles/reset.css" />
      <link rel="stylesheet" href="/public/styles/aboutUs.css"/>  

  </head>

  <body>

    <main>

        <div class="alex">
            <div id=""alt="nameofperson">
            </div>
            <h2 class="name">My Name goes here</h2>
            <div class="content">
            <p>Message here with GH and LinkedIn</p>
            </div>
        </div>


        <div class="trae">
              <div id="img-person">
              <img src="http://placehold.it/250x250" alt="nameofperson">
              </div>
              <h2 class="name">My Name goes here</h2>
              <div class="content">
              <p>Message here</p>
              </div>
          </div>


          <div class="person">
                <div id="img-person">
                <img src="http://placehold.it/250x250" alt="nameofperson">
                </div>
                <h2 class="name">My Name goes here</h2>
                <div class="content">
                <p>Message here</p>
                </div>  
          </div>

          <div class="person">
                  <div id="img-person">
                  <img src="http://placehold.it/250x250" alt="nameofperson">
                  </div>
                  <h2 class="name">My Name goes here</h2>
                  <div class="content">
                  <p>Message here</p>
                  </div>
          </div>

          <div class="person">
                    <div id="img-person">
                    <img src="http://placehold.it/250x250" alt="nameofperson">
                    </div>
                    <h2 class="name">My Name goes here</h2>
                    <div class="content">
                    <p>Message here</p>
                    </div>
            </div>
        
      
   
      <%- include('../layout/footer') %>

   </main>
  </body>
</html>