<!DOCTYPE html>
<html lang="en">
  
  <head>
    <title>About Us</title>

      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/styles/reset.css" />
      <link rel="stylesheet" href="/public/styles/aboutUs.css"/>  

  </head>

  <body>

    <main>

        <div class="team">
            <div class="info"alt="alexpicture"></div>
            <img src="/public/styles/img/alex.png" alt="alexpicture">
            <h2 class="name">Alex Reid</h2>
            <div class="content">
            <p>Message here with GH and LinkedIn</p>
            </div>
        </div>


        <div class="team">
              <div id="img-person">
              <img src="/public/styles/img/trae.png" alt="nameofperson">
              </div>
              <h2 class="name">Trae Bennett</h2>
              <div class="content">
              <p>Message here <b>Linkedin: linkedin.com/in/trae-bennett-401329b2</b></p>
              </div>
        </div>


        <div class="team">
                <div id="img-person">
                <img src="/public/styles/img/paula.png" alt="nameofperson">
                </div>
                <h2 class="name">Paula Cruz</h2>
                <div class="content">
                <p>Message here</p>
                </div>  
        </div>

          <div class="team">
                  <div id="img-person">
                  <img src="/public/styles/img/sara.png" alt="nameofperson">
                  </div>
                  <h2 class="name">Sara Haynes</h2>
                  <div class="content">
                  <p>Message here</p>
                  </div>
        </div>

        <div class="team">
                    <div id="img-person">
                    <img src="/public/styles/img/matt.png" alt="nameofperson">
                    </div>
                    <h2 class="name">Matthew Heyert</h2>
                    <div class="content">
                    <p>Message here</p>
                    </div>
          </div>
        
  
      <%- include('../layout/footer') %>

   </main>
  </body>
</html>