<!DOCTYPE html>
<html lang="en">
  
  <head>
    <title>About Us</title>

      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/styles/reset.css" />
      <link rel="stylesheet" href="../../styles/about.css"/>  

  </head>

  <body>

    <main>

        <div class="container">
          
            <div class="banner">
              <h1>About Us</h1>
            </div>
          
            <div class="content"><img class="image" src="../../styles/img/alex.png">
              
              <p class="name"> 
                Alex Reid</p>
                <p class="message">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates maxime, minima velit pariatur explicabo praesentium iure iste cumque nulla deleniti totam, dolorem odio atque adipisci illum non tenetur libero. Necessitatibus. Lorem ipsum dolor sit
                amet, consectetur adipisicing elit. Amet reiciendis cupiditate, tempora? Amet adipisci in suscipit optio dicta autem quod dolorum nihil, nobis, consectetur animi modi odit vel sint necessitatibus.
              </p>
              
            </div>

            <div class="content"><img class="image" src="../../styles/img/matt.png">
              <p class="name">Matt Heyert</p>
                <p class="message">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates maxime, minima velit pariatur explicabo praesentium iure iste cumque nulla deleniti totam, dolorem odio atque adipisci illum non tenetur libero. Necessitatibus. Lorem ipsum dolor sit
                amet, consectetur adipisicing elit. Amet reiciendis cupiditate, tempora? Amet adipisci in suscipit optio dicta autem quod dolorum nihil, nobis, consectetur animi modi odit vel sint necessitatibus.
              </p>
            </div>

            <div class="content"><img class="image" src="../../styles/img/paula.png">
              <p class="name">Paula Cruz</p>
                <p class="message">
                    Paula has an extensive background in banking. She loves spending time with her family. You will see her in the kitchen if not in front of her laptop and she also enjoys abstract painting with wine.
              </p>
              
            </div>

            <div class="content"><img class="image" src="../../styles/img/sara.png">
              
              <p class="name">Sara Haynes</p>
                <p class="message">
                    Sara has spent the past many years as a stay-at-home mom of three kids. She came to Code Fellows to sharpen her skills and explore new career opportunities. In her free time she cuddles her dog Douglas, enjoys a good campfire, bbq's and paints and restores furniture. Next Sara heads to Javascript 401!
              </p>
              
            </div>

            <div class="content"><img class="image" src="../../styles/img/trae.png">
              
              <p class="name">Trae Bennett</p>
                <p class="message">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates maxime, minima velit pariatur explicabo praesentium iure iste cumque nulla deleniti totam, dolorem odio atque adipisci illum non tenetur libero. Necessitatibus. Lorem ipsum dolor sit
                amet, consectetur adipisicing elit. Amet reiciendis cupiditate, tempora? Amet adipisci in suscipit optio dicta autem quod dolorum nihil, nobis, consectetur animi modi odit vel sint necessitatibus.
              </p>
              
            </div>









            <div class="video-container">
              <video class="video" muted autoplay loop>
                <source src="https://res.cloudinary.com/dlm2jcfic/video/upload/v1465860427/343732582_johq2x.mp4" type="video/mp4" />
              </video>
              <div class="video-mask"></div>
            </div>
          </div>
      
   </main>
  </body>
</html>