<!DOCTYPE html>
<html lang="en">
  
  <head>
    <title>About Us</title>

      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/styles/reset.css" />
      <link rel="stylesheet" href="/public/styles/aboutUs.css"/>  

  </head>

  <body>

    <main>

        <div class="media">

            <div class="img">
              <img src="http://placehold.it/250x250" alt="Placeholder">
            </div>
            <h2 class="title">This is my Name</h2>
            <div class="content">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vehicula vitae ligula sit amet maximus. Nunc auctor neque ipsum, ac porttitor elit lobortis ac. Vivamus ultrices sodales tellus et aliquam. Pellentesque porta sit amet nulla vitae luctus.
                Praesent quis risus id dolor venenatis condimentum.</p>
            </div>
            
          </div>




   
      <%- include('../layout/footer') %>

   </main>
  </body>
</html>