<!DOCTYPE html>
<html lang="en">
  
  <head>
    <title>Search Form</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/styles/reset.css" />
      <link rel="stylesheet" href="/styles/dashboard.css" />
      <!-- <link rel="stylesheet" href="/styles/layout.css" /> -->
      <link rel="stylesheet" href="/styles/modules.css" /> 
      <link rel="stylesheet" href="/styles/icons.css"/>  
  </head>

  <body>
    <main>
        <!-- <button type="home">Home</button> -->
      <h1><%= formatted_query %></h1>
       <div class="grid">

        <div class="image">Image Placeholder</div>
        <!-- <div class="restaurant">Restaurants</div>
        <div class="events">Events</div> -->
        <div class="icon1"><img src="/public/styles/img.css/Dining.png">icon1 here</div>
        <div class="icon2">icon2 here</div>
        <div class="icon3">icon3 here</div>
        <div class="icon4">icon4 here</div>

      </div>
      

      <%- include('../layout/footer') %>

   </main>
  </body>
</html>
