<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('../layout/header') %>
  </head>

  <body>
    <%- include('../layout/header') %>

    <main>
      <p><%= error %></p>
    </main>

    <%- include('../layout/footer') %>

  </body>
</html>