<html>
  <body>
    <% events.forEach(event => { %>
    <ol><%= event.link %></ol>
    <ol><%= event.event_name%></ol>
    <ol><%= event.event_date %></ol>
    <ol><%= event.summary %></ol>
    <% }); %>
  </body>
</html>