<!DOCTYPE html>
<html lang="en">
  
    <head>
      <title>Search Form</title>
        <%- include('../layout/head') %>
    </head>

  <body>
    <%- include('../layout/header') %>
      <h1>Sample Form</h1>

    <main>

      <form action="/url" method="post">
        <label> Enter a city or a neighnorhood:
          <input type="text" name="city-neighborhood">
        </label>
        <button type="submit">Sybmit</button>
      </form>


   </main>
   
    <%- include('../layout/footer') %>

    
  </body>
</html>



