<!DOCTYPE html>
<html lang="en">
  
    <head>
      <title>Search Form</title>
        <%- include('../layout/header') %>
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
        <!-- <link rel="stylesheet" href="public/styles/reset.css" />
        <link rel="stylesheet" href="public/styles/base.css" />
        <link rel="stylesheet" href="public/styles/layout.css" />
        <link rel="stylesheet" href="public/styles/modules.css" />
        <link rel="stylesheet" href="public/styles/icons.css"/> -->

    </head>

  <body>
      <h1>Sample Form</h1>

    <main>

      <form action="/url" method="post">
        <label> Enter a city or a neighnorhood
          <input type="text" name="city-neighborhood">
          <button type="submit">Search!</button>
        </label>
      </form>


      <div class="grid">

        <div class="a">Image Placeholder</div>
        <div class="b">B</div>
        <div class="c">C</div>
        <div class="d">D</div>
        <div class="e">E</div>
        <div class="f">F</div>
        <div class="g">G</div>

        <footer id="i">I</footer>

   


   </main>

    
  </body>
</html>
