<!DOCTYPE html>
<html lang="en">
  
  <head>
    <title>Destination Top 10</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/styles/reset.css" />
      <link rel="stylesheet" href="/styles/base.css" />
      <link rel="stylesheet" href="/styles/layout.css" />
      <link rel="stylesheet" href="/styles/modules.css" />
      <link rel="stylesheet" href="/styles/icons.css"/> 
  </head>

  <body>
    <h1>Where would you like to go today?</h1>
    <main>
      <form action="/search" method="post">
        <label> Enter a city or a neighnorhood
          <input type="text" name="city-neighborhood">
          <button type="submit">Search!</button>
        </label>
      </form>
   </main>
  </body>
</html>
