<!DOCTYPE html>
<html lang="en">
  
  <head>
    <title>Destination Top 10</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/styles/reset.css" />
      <!-- <link rel="stylesheet" href="/styles/base.css" />
      <link rel="stylesheet" href="/styles/layout.css" />
      <link rel="stylesheet" href="/styles/modules.css" />
      <link rel="stylesheet" href="/styles/icons.css"/>  -->
     
      <!-- this is just here because i don't like working in SMACCS initially -->
      <link rel="stylesheet" href="/styles/styles.css"/> 
      <link href="https://fonts.googleapis.com/css?family=Crushed&display=swap" rel="stylesheet">
  </head>
  


  <body id="index">
    
    <!-- MAIN TITLE -->
    <h1 id="title">EXPERIENCE LOCAL</h1>

<!-- SUBTITLE WHERE WOULD YOU LIKE TO GO TODAY -->

    <main id="main">
        <h3 id="subtitle">Where would you like to go today?</h3>
      <div id="fields"></div>
        <form id="container" action="/search" method="post">
            <!-- <div id="image"><img src="/styles/img/PikeMarket.jpeg" alt="fremont" class="PikeMarket"></div> -->
          
          <!-- <label id="newsearch">Visit Someplace New</label> -->
            <div id="input" class="input">
              <input type="text" name="search" placeholder="Enter New Search"></input>
              <button id="searchbutton" class="button" type="submit">Search</button>
            </div>
        </form>
            <!-- POPULAR DESTINATIONS OPTION -->

        <form action="/past_search" method="post">
            
          <select id="dropdown" name="search" required>
            <option value="default">Popular Destinations</option>
            <% popularLocations.forEach(location => { %>
            <option value="<%= location.query %>"><%= location.formatted_query %></option>
            <% }) %>
          </select>  
            <button  id="dropbutton" class="button" type="submit">Search</button> 

        </form>
      </div>
    </main>

   <!-- JUST A PLACE HOLDER IN CASE WE WANT A FOOTER -->
   <footer id="footer">
    
     <form id="aboutus" action="aboutUs.ejs"> 
    
     </form>

   </footer>
   <div class="BGI">
      <img src="/styles/img/map-image.jpg">
    </div>
  </body>
</html>