<!DOCTYPE html>
<html lang="en">
  
  <head>
    <title>Destination Top 10</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/styles/reset.css" />
      <!-- <link rel="stylesheet" href="/styles/base.css" />
      <link rel="stylesheet" href="/styles/layout.css" />
      <link rel="stylesheet" href="/styles/modules.css" />
      <link rel="stylesheet" href="/styles/icons.css"/>  -->
     
      <!-- this is just here because i don't like working in SMACCS initially -->
      <link rel="stylesheet" href="/styles/styles.css"/> 
  </head>
  


  <body id="index">
    
    <!-- MAIN TITLE -->
    <h1 id="title">Experience Local</h1>

<!-- SUBTITLE WHERE WOULD YOU LIKE TO GO TODAY -->

    <main id="main">

      <form id="container" action="/search" method="post">
        
        <!--NEW SEARCH OPTION  -->
    

  
    <main>
      
      <div id="image"><img src="/styles/img/PikeMarket.jpeg" alt="fremont" class="PikeMarket"></div>
      
      <h3 id="subtitle"> Where would you like to go today?</h3>
      <label id="newsearch"> Enter a City or Neighborhood:</label>
        <div class="input"><input type="text" name="search"><button id="button" type="submit">Search</button></div>
        

      
        <!-- <p> OR </p> -->
      </form>
        <!-- POPULAR DESTINATIONS OPTION -->
<!-- location. = in select area -->

      <form action="/past_search" method="post">
        
        <select id="dropdown" name="search" required>
          <option value="default">Select a Popular Destination</option>
          <!-- <% popularLocations.sort((a, b) => a.formatted_query - b.formatted_query); %> -->
          <% popularLocations.forEach(location => { %>
          <option value="<%= location.query %>"><%= location.formatted_query %></option>
          <% }) %>
        </select>  
          <button id="button2" type="submit">Search!</button> 

      </form>
   </main>

   <!-- JUST A PLACE HOLDER IN CASE WE WANT A FOOTER -->
   <footer id="footer">
     <!-- Filler Filler Turtle Eater -->
   </footer>
   <div class="BGI">
      <img src="/styles/img/map-image.jpg">
    </div>
  </body>
</html>