 Here's some information about: <%= formattedQuery %>

<nav>
  <ul>
    <a href="/restaurants?location=<%= formattedQuery %>"><img src="/styles/img/Dining.png" class="icn"></a>
     <a href="/events?location=<%= formattedQuery %>&location.within=1km<%= formattedQuery %>"><img src="/styles/img/Park.png" class="icn"></a>
  </ul>
</nav>