html { 
  background-color: beige;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width:960px;
  margin: auto;
 }

h1 {
  color: #886401;
  padding: .5em;
  font-size: 7em;
  width: 11em;
  position: top;
  font-family: sans-serif
}

  /* About Us Pictures */

#paula{
    padding-left: 5px;
    padding-right: 4px;
    font-size: 20px;
    color:black;
    font-weight: bolder;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
#paula #name{
    margin-left: 250px;
    margin-top: 8px;    
    font-size: 25px;
    font-weight: bolder;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  }
#paulaImg{
    border: 1px solid #ddd;
    border-radius: 4px;
    width:150px;
    height:150px;
    padding: 4px;
    margin-right: 5px;
    margin-top: -px;
    margin-bottom: 2px;
    margin-left: 30px;
    position: absolute;
  }
  #paula #text{
    margin-top: 20px;
    margin-left: 230px;
    color:white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    float: right;
  }
  #evan{
    padding-left: 6px;
    padding-right: 6px;
    font-size: 1.5em;
    color:black;
    font-weight: bolder;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  #evan #name{
    margin-left: 250px;
    margin-top: 250px;    
    font-size: 25px;
    font-weight: bolder;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  }
  #evanImg {
    border: 1px solid #ddd;
    border-radius: 4px;
    width:150px;
    height:150px;
    padding: 4px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 2px;
    margin-left: 30px;
    position: absolute;
    float: left;
  }
  #evan #text{
    margin-top: 20px;
    margin-left: 150px;
    color:white;
    margin-left: 230px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 20px;
  }
  #carey{
    padding-left: 6px;
    padding-right: 6px;
    font-size: 1.5em;
    color:black;
    font-weight: bolder;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  #carey #name{
      margin-left: 250px;
      margin-top: 120px;    
      font-size: 25px;
      font-weight: bolder;
      text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    }
  #careyImg{
    border: 1px solid #ddd;
    border-radius: 4px;
    width:150px;
    height:150px;
    padding: 4px;
    margin-right: 5px;
    margin-top: 8px;
    margin-bottom: 50px;
    margin-left: 30px;
    position: absolute;
    float: left;
  }
  #carey #text{
    margin-top: 20px;
    margin-left: 230px;
    margin-bottom: 50px;
    color:white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    float: right;
    font-size: 20px;
    margin-bottom: 50px;
  }
  a{
    font-size: 20px;
    color: white;
    margin-left: 900px;


  }