body {
    background-color: rgb(66, 177, 185);
    text-align-last: center;
} 

img {
    width: 50px;
    max-width: 50%;
}

div {
    box-sizing: content-box;
width: 100%;
border: red 10px;
padding: 5px;
}

.tile {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 2px 16px;
    margin: 25px;
    background-color: whitesmoke;
    max-width: 300px;
    min-height: 300px;
    text-align: center;
}

.tile img {
    max-width: 300px;
    min-width: 300px;
    padding-top: 15px;
}

.name {
    
    font-family: 'Rubik Mono One', sans-serif;
}

.rating {
    font-family: 'Stylish', sans-serif;
}

.address {
    font-family: 'Hind Guntur', sans-serif;
}

.phone {
    font-family: 'Stylish', sans-serif;
    color: lightsalmon;

}

.price {
    font-family: 'Stylish', sans-serif;
}

.addPages {
    background-color: lightgray;
}

#homeButton {
    grid-column: 1;
    grid-row: 1;
    width: 60px;
    font-size: 12px;
   }

   button {
    position: relative;
    background-color: rgba(255, 255, 255, 0.89);
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    color: rgb(14, 13, 13);
    padding: 10px;
    width: 100px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    overflow: hidden;
    cursor: pointer;
   }
   
   button:after {
    content: "";
    background: rgb(170, 182, 204);
    display: block;
    position: absolute;
    padding-top: 500%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s;
   }
   
   button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
   }