body {
  font-family: Georgia, 'Times New Roman', Times, serif;

} 

.BGI{
  z-index: -500;
  opacity: .4;
  position: fixed;
} 

.grid {
  display: grid;
  grid-template-columns: repeat(7);
  grid-template-rows:  minmax(10px, auto);
  grid-row-gap: 15px;
 
} 

button {
  position: relative;
  background-color: rgba(255, 255, 255, 0.89);
  border-radius: 5px; 
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  color: rgb(14, 13, 13);
  padding: 10px;
  width: 100px;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  overflow: hidden;
  cursor: pointer;
}

button:after {
  content: "";
  background: rgb(170, 182, 204);
  display: block;
  position: absolute;
  padding-top: 500%;
  padding-left: 350%; 
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
} 

#homeButton {
  grid-column: 1;
  grid-row: 1;
  width: 60px;
  font-size: 12px;
}

h1{
  text-align: center;
}

.image {
  max-width: 100%;
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  padding: 10px;
  background-color: rgb(245, 245, 245);
  margin: 0 auto;
  box-shadow: 0 0 10px #4b4b4b;
}

.PikeMarket{
  width: 450px;
}

.icon1 {
  grid-column: 1;
  grid-row: 4;
  margin: 0 auto;
} 

.icon2 {
  grid-column: 2;
  grid-row: 4;
  margin: 0 auto;
}

.icon3{
  grid-column: 3;
  grid-row: 4;
  margin: 0 auto;
}

.icon4{
  grid-column: 1;
  grid-row: 5;
  margin: 0 auto;
}


footer{
  font-size: 12px;
  text-align: center;
  margin-top: 30px;
  padding: 8px;
}

.buttonIcon{
  width: 60px; 
  margin: 0 auto;
}



@media(min-width: 767px) {
  

.grid {
  display: grid;
  grid-template-columns: 6;
  grid-template-rows:  minmax(10px, auto); 

} 

.BGI{
  z-index: -500;
  opacity: .4;
  position: fixed;
}

h1{
  display: inline;
  grid-column: 2;
  grid-row: 1;
  margin: 0 auto;
  font-size: 25px;
  font-weight: bold;
  margin-top: 20px;

}

h3{
  grid-column: 3;
  grid-row: 1;
  margin: 0 auto;
  font-size: 25px;
  font-weight: bold;
  margin-top: 20px;

}
.image {
  max-width: 100%;
  grid-column: 2 / 3;
  grid-row: 3 / 6;
  padding: 10px;
  background-color: rgb(245, 245, 245);
  margin: 0 auto;
  box-shadow: 0 0 10px #4b4b4b;
  margin-top: 40px;
  margin-bottom: 80px;
  
}

.map {
  max-width: 100%;
  grid-column: 3 / 4;
  grid-row: 3 / 6;
  padding: 10px;
  background-color: rgb(245, 245, 245);
  margin: 0 auto;
  box-shadow: 0 0 10px #4b4b4b;
  margin-top: 40px;
  margin-bottom: 80px;
  
}

#homeButton {
  grid-column: 1;
  grid-row: 1;
  margin-left: 25px;
}

.icon1 {
  grid-column: 1;
  grid-row: 6 / 7; 
  margin: 0 auto;

} 

.icon2{
  grid-column: 2;
  grid-row: 6 / 7;
  margin: 0 auto;
}

.icon3{
  grid-column: 3;
  grid-row: 6 / 7;
  margin: 0 auto;
}

.icon4{
  grid-column: 4;
  grid-row: 6 / 7;
  margin: 0 auto;
} 

.buttonIcon{
  width: 100px; 
}

footer{
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 8px;
}


}

