<!DOCTYPE html>
<html lang="en">
<head>
  
</head>
<body>
    <div class="slider">
        <ul class="slides">
          <li>
            <img src="../layout/img/mtrainier.jpg"> <!-- random image -->
            <div class="caption center-align">
              <h3>We can put message here!</h3>
              <h5 class="light grey-text text-lighten-3">or message here.</h5>
            </div>
          </li>
          <li>
            <img src="../layout/img/fremont.jpg"> <!-- random image -->
            <div class="caption left-align">
              <h3>We can put message here!-left aligned</h3>
              <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
          <li>
            <img src="../layout/img/snoqualmiefalls.jpeg"> <!-- random image -->
            <div class="caption right-align">
              <h3>We can put message here!--Right Aligned</h3>
              <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
          <li>
            <img src="../layout/img/sfobridge.jpg"> <!-- random image -->
            <div class="caption center-align">
              <h3>This is our final message!</h3>
              <h5 class="light grey-text text-lighten-3">here's a second message.</h5>
            </div>
          </li>
        </ul>
      </div>
  
</body>
</html>



